@charset "utf-8";
body,ol,ul,li,h1,h2,h3,h4,h5,h6,p,th,tr,td,dl,dt,dd,form,fieldset,legend,input,textarea,select
{
	margin:0;
	padding:0;
}
body{
	font-size:16px;
}
ul,ol,li{
	list-style:none;
}
h1,h2,h3,h4,h5,h6{
	font-size:16px;
	font-weight:normal;
}
b,strong{
	font-weight:normal;
}
i,em{
	font-style:normal;
}
a,u{
	text-decoration:none;
}
img{
	border:0;
	vertical-align:middle;
}
input,fieldset,textarea{
	outline:none;
	border:none;
}
.clearfn:after{
	content:"";
	clear:both;
	display:block;
	height:0;
	overflow:hidden;
	visibility:hidden;
}
.clearfn{
	zoom:1;
}
